# https://help.github.com/en/articles/about-code-owners

# Every review will request the Decentralized Identity team as reviewer, unless a later match takes precedence
* @microsoft/decentralized-identity